.menu-user {
  border-radius: 30px;
  background: #670784;
}

.menu-burger {
  width: 48px;
  height: 48px;
  display: none;
}

@media (max-width: 576px) {
  .menu-burger {
    display: initial;
  }
}
