* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.guideline-container {
  margin: 100px auto;
  max-width: 1000px;
}
