.l-account {
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 0 32px;
}

.l-nav {
  display: flex;
  gap: 20px;
}

.l-header {
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
}
